StudentGram/views/index.pug
html
    head
        link(rel='stylesheet' href='public/css/main.css')
        meta(name='viewport' content='width=device-width, initial-scale=1,0, user-scalable=none')
        meta(charset='utf-8')
    body
        section.main-container
        // start : footer
        footer.site-footer
          .container
            .row
              // start : boton
              .col.s12.l3.center-align
                // Dropdown Trigger
                a.dropdown-trigger.btn(href='#', data-target='dropdown1') Idioma
                // Dropdown Structure
                ul#dropdown1.dropdown-content
                  li
                    a(href='#!')
                      i.material-icons laguaje
                      | Español
                  li
                    a(href='#!')
                      i.material-icons laguaje
                      | Inglés
              // end : boton
              // start : marca
              .col.s12.l3.push-l6.center-align
                | 2019 StudentGram
              // end : marca
        // end : footer
        script(src='public/js/jquery-3.3.1.min.js')
        script(src='public/js/materialize.min.js')
  

StudentGram/index.html
<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>StudentGram</title>
    <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="public/css/main.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1,0, user-scalable=none" />
  <meta charset="utf-8" />
  </head>
  <body>
    <section class="main-container">
      <div class="container">
        <div class="row">
          <div class="col s10 push-s1">
              <div class="row">
                <!-- -- -->
                <div class="col m5 hide-on-small-only">
                  <img src="public/img/phone.png" alt="phone" class="img">
                </div>
                <div class="col s12 m7">
                  <div class="row">
                    <div class="signup-box">                                    <!-- start : signup box-->
                      <h1 class="StudentGram">StudentGram</h1>
                      <h2>¡Registrate y comparte tús ideas con el mundo!</h2>
                      <!-- -- -->
                      <div class="section">                                     <!-- Registro alterno-->
                        <a class="btn waves-effect waves-light hide-on-small-only">    <!-- No se muestra en dispositivos pequeños -->
                          Iniciar sesión con Facebook
                        </a>
                        <a class="btn waves-effect waves-light hide-on-med-and-up">     <!-- Solo se muestra en dispositivos pequeños -->
                          Iniciar sesión
                        </a>
                      </div>
                      <!-- -- -->
                      <form class="signup-form" autocomplete="off" action="#">
                        <div class="divider"></div>
                        <div class="section">                                   <!-- start : Contenido formulario -->
                          <input type="email" name="email" placeholder="Correo electronico" required="required" />
                          <input type="text" name="name" placeholder="Nombre completo" required="required" />
                          <input type="text" name="username" placeholder="Nombre de usuario" required="required" />
                          <input type="password" name="password" placeholder="Contraseña" required="required" />
                          <!-- -- -->
                          <button class="btn waves-effect waves-light" type="submit">
                            Regístrarse
                          </button>
                        </div>                                                  <!-- end : Contenido formulario -->
                      </form>
                    </div>                                                      <!-- end : signup box-->
                    <!-- -- -->
                      <div class="row">
                        <div class="login-box center-align">
                          ¿Tienes una cuenta? <a href="/signin">Entrar</a>
                        </div>
                      </div>
                    <!-- -- -->
                  </div>
                </div>
                <!-- -- -->
              </div>
          </div>
        </div>
      </div>
    </section>
    <!-- start : footer -->
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <!-- start : boton -->
          <div class="col s12 l3 center-align">
            <!-- Dropdown Trigger -->
            <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Idioma</a>
            <!-- Dropdown Structure -->
            <ul id='dropdown1' class='dropdown-content'>
              <li><a href="#!"><i class="material-icons">laguaje</i>Español</a></li>
              <li><a href="#!"><i class="material-icons">laguaje</i>Inglés</a></li>
            </ul>
          </div>
          <!-- end : boton -->
          <!-- start : marca -->
          <div class="col s12 l3 push-l6 center-align">
            2019 StudentGram
          </div>
          <!-- end : marca -->
        </div>
      </div>
    </footer>
    <!-- end : footer -->
  </body>
  <!-- Compiled and minified JavaScript -->
  <script src="public/js/jquery-3.3.1.min.js"></script>
  <script src="public/js/materialize.min.js"></script>
</html>
